.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.famous-univ{
  min-width: 80vw;
  border: 1px solid black;
  color: black;
  margin: 0 auto;
  margin-top: 1vh;
  text-align: center;
}
.famous-univ-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.famous-univ-list div{  
  background: gray;
  border-radius: 100%;
  min-width: 120px;
  min-height: 120px;
  margin: 10px;
}

.supported-univ{
  min-width: 80vw;
  border: 1px solid black;
  color: black;
  margin: 0 auto;
  margin-top: 1vh;
  text-align: center;
}
.supported-univ-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.supported-univ-list div{
  background: gray;
  border-radius: 100%;
  min-width: 50px;
  min-height: 50px;
  margin: 5px;
}

.weekly-hot-post{
  min-width: 80vw;
  border: 1px solid black;
  color: black;
  margin: 0 auto;
  margin-top: 1vh;
  text-align: center;
}